:root {
  --accent-color: #FA4A0C;
  --text-color: #737373;
  --text-color-bold: #252B42;
  --text-color-black: #000000;

  font-size: 18px;
}

@media screen and (min-width: 576px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (min-width: 1176px) {
  :root {
    font-size: 24px;
  }
}