.wrapperFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapperFooterIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
}
.wrapperFooterPharagraph {
  margin-top: 2em;
  margin-bottom: 2em;
}
.footerPharagraph {
  color: var(--text-color-gray);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 18px;
}
.footerPharagraphDesctop {
  display: none;
}
.footerLogoImage {
  display: none;
}
.icons {
  object-fit: contain;
}
.icons,
.icons {
  margin-right: 24px;
}
.iconInstagram {
  display: none;
}

@media screen and (min-width: 992px) {
  .footerPharagraphDesctop {
    display: block;
    color: var(--text-color-gray);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 18px;
  }
  .footerPharagraph {
    display: none;
  }
  .wrapperFooter {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  .footerLogoImage {
    display: block;
  }
  .iconLinkidn {
    display: none;
  }
  .iconInstagram {
    display: block;
  }
}
