.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 120px;
  margin-left: 1.3em;
  margin-right: 1.3em;
}
.logo {
  margin-top: 0.5em;
  margin-bottom: 1.2em;
}

.logoDesctop {
  display: none;
}
@media screen and (min-width: 1170px) {
  .logoMobile {
    display: none;
  }

  .logoDesctop {
    display: block;
  }
}
