.wrapperSectionDownloadApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--text-color-bold);
}
.textSectionDownloadApp {
  max-width: 80%;
}
.wrapperPharagraphDownloadSectionDownloadApp {
  padding-top: 5em;
}
.pharagraphDownloadSectionDownloadApp {
  color: var(--text-color-white);
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 54px;
}
.wrapperParagraphCalendarsSectionDownloadApp {
  padding-top: 2em;
}
.paragraphCalendarsSectionDownloadApp {
  color: var(--text-color-light-gray);
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 34px;
}
.paragraphCalendarsSectionDownloadAppDesctop {
  display: none;
}
.wrapperButtonSectionDownloadApp {
  display: flex;

  max-width: 80%;
  padding-top: 3.5em;
}
.wrapperButtonBuySectionDownloadApp {
  padding-bottom: 2em;
  margin-right: 1em;
  margin-bottom: 3em;
}
.linkButtonBuy {
  text-decoration: none;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--text-color-white);
  padding: 18px 10px;
  border-radius: 12px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.linlButtonTryForFree {
  text-decoration: none;

  border: 1px solid;
  padding: 18px 18px;
  border-radius: 12px;
  color: var(--text-color-white);
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .wrapperSectionDownloadApp {
    background-image: url("../images/footerDesctop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .paragraphCalendarsSectionDownloadAppDesctop {
    display: block;
    color: var(--text-color-white);
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 34px;
  }
  .paragraphCalendarsSectionDownloadApp {
    display: none;
  }
}
